
@{
    ViewData["Title"] = "Inclusão de Profissionais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
	<div class="col-md-12">
		@using (@Html.BeginForm("Create", "Profissional", FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
		{
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					</div>

					<h2 class="panel-title">Cadastro de Profissional</h2>
				</header>
				<div class="panel-body">

					<div class="form-group">
						<label class="col-sm-1 control-label">Nome <span class="required">*</span></label>
						<div class="col-sm-6">
							<input type="text" name="fullname" class="form-control" required />
						</div>
						<label class="col-sm-2 control-label">Data Nascimento <span class="required">*</span></label>
						<div class="col-sm-3">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</span>
								<input id="DtOcorrencia" name="DtOcorrencia"
								       data-plugin-masked-input data-input-mask="99/99/9999"
								       class="form-control"
								       @* value="@Model.Relato.DatOcorrencia.ToShortDateString()" *@>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">Email <span class="required">*</span></label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-envelope"></i>
								</span>
								<input type="email" name="email" class="form-control" required />
							</div>
						</div>
						<label class="col-sm-1 control-label">Senha </label>
						<div class="col-sm-3">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-lock"></i>
								</span>
								<input id="ssenha" name="senha" class="form-control"
								       maxlength="15" type="password"
								       title="Por favor informe a senha." >
							</div>
						</div>
						<label class="col-sm-1 control-label">Sexo <span class="required">*</span></label>
						<div class="col-sm-2">
							<select class="form-control populate select2" name="ddlPerfil" id="ddlPerfil"
							        title="Por favor selecione um perfil." required
							        @* asp-for="CodPerfil" asp-items="Model.ListPerfil" *@>
								<option value="">Selecionar Sexo</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">Cpf <span class="required">*</span></label>
						<div class="col-sm-3">
							<input id="cpf" name="cpf"
							       v-model="params.cpf"
							       v-on:blur="ExisteCpf"
							       type="text" value="" class="form-control"
							       maxlength="14" />
						</div>
						<label class="col-sm-1 control-label">Telefone </label>
						<div class="col-sm-3">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-phone"></i>
								</span>
								<input name="Telefone" id="Telefone" data-plugin-masked-input=""
								       style="z-index: auto;"
								       data-input-mask="(99) 9999-9999"
								       Title="Por favor informe o telefone da empresa"
								       class="form-control">
							</div>
						</div>
						<label class="col-sm-1 control-label">Celular </label>
						<div class="col-sm-3">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-phone"></i>
								</span>
								<input name="Telefone" id="Telefone" data-plugin-masked-input=""
								       style="z-index: auto;"
								       data-input-mask="(99) 9999-9999"
								       Title="Por favor informe o telefone da empresa"
								       class="form-control" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">Endereço</label>
						<div class="col-sm-6">
							<input type="url" name="github" class="form-control" />
						</div>
						<label class="col-sm-1 control-label">Número</label>
						<div class="col-sm-1">
							<input type="url" name="github" class="form-control" />
						</div>
						<label class="col-sm-1 control-label">Cep</label>
						<div class="col-sm-2">
							<input type="url" name="github" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">Bairro </label>
						<div class="col-sm-3">
							<input type="url" name="github" class="form-control" />
						</div>
						<label class="col-sm-1 control-label">Estado </label>
						<div class="col-sm-3">
							<select class="form-control populate select2" name="ddlPerfil" id="ddlPerfil"
							        title="Por favor selecione um perfil." required
							        @* asp-for="CodPerfil" asp-items="Model.ListPerfil" *@>
								<option value="">Selecionar Estado</option>
							</select>
						</div>
						<label class="col-sm-1 control-label">Cidade </label>
						<div class="col-sm-3">
							<input type="url" name="github" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label pull-left">Cadastro ativo para login?</label>
						<div class="col-sm-2">
							<div class="switch switch-sm switch-success">
								<input type="checkbox" id="AlunoIncluir" name="AlunoIncluir" data-plugin-ios-switch checked="checked" />
							</div>
						</div>
						<label class="col-sm-3 control-label">Cadastro habilitado a operar?</label>
						<div class="col-sm-2">
							<div class="switch switch-sm switch-success">
								<input type="checkbox" id="AlunoIncluir" name="AlunoIncluir" data-plugin-ios-switch checked="checked" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">&nbsp;&nbsp; </label>
						<div class="col-sm-12">
						<blockquote class="info">
							<strong>Gerenciamento de ambientes</strong>
							</blockquote>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Ambiente</label>
						<div class="col-sm-4">
							<select class="form-control populate select2" name="ddlPerfil" id="ddlPerfil"
									title="Por favor selecione um perfil." required
							@* asp-for="CodPerfil" asp-items="Model.ListPerfil" *@>
								<option value="">Selecionar Ambiente</option>
							</select>
						</div>
						<div class="col-sm-1">
							<button type="button" class="ml-xs btn btn-primary"
									data-toggle="modal" data-target="#mdAmbiente">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Adicionados</label>
						<div class="col-sm-10">
							<table class="table table-bordered table-striped mb-0" id="datatable-default">
								<thead>
									<tr>
										<th>Esporte</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Natação</td>
										<td class="actions">
											<a data-toggle="tooltip" data-placement="top" title="Excluir" @* asp-action="Delete" *@ asp-controller="Perfil" asp-route-id="1" class="on-default remove-row" style='color:#F44336'><i class="fa fa-trash-o"></i></a>
										</td>
									</tr>
									<tr>
										<td>Futsal</td>
										<td class="actions">
											<a data-toggle="tooltip" data-placement="top" title="Excluir" @* asp-action="Delete" *@ asp-controller="Perfil" asp-route-id="1" class="on-default remove-row" style='color:#F44336'><i class="fa fa-trash-o"></i></a>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-md-9 col-md-offset-3">
							<button type="submit" class="btn btn-dark pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-reply"></i> &nbsp;&nbsp;Voltar</button>
							<button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
							<button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
						</div>
					</div>
				</footer>
			</section>
		}
	</div>
</div>

@section CssSpecificVendor {
	<link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
	<script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
	<script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
	<script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/js/formatTable.js"></script>
	<script>


		// iosSwitcher
		(function ($) {

			'use strict';

			if (typeof Switch !== 'undefined' && $.isFunction(Switch)) {

				$(function () {
					$('[data-plugin-ios-switch]').each(function () {
						var $this = $(this);

						$this.themePluginIOS7Switch();
					});
				});

			}

		}).apply(this, [jQuery]);

	</script>
}



