
@media (min-width: 1200px){
  .blog-details-thumb img {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .hero-thumb img {
    width: 90%;
  }
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1600px){

  .hero-content h1 {
    font-size: 50px;
}

.hero-content span {
  font-size: 50px;
}

.hero-thumb img {
  width: 90%;
}


.section-disc p {
  font-size: 14px;
}

/*----------------about---------------*/

.about-thumb img {
  width: 100%;
}

.about-title .number {
  right: 495px;
}

.about-disc p {
  font-size: 14px;
}

.about-disc2 {
  font-size: 14px;
}

.contact-thumb img {
  width: 100%;
}


.blog-info h3 a {
  font-size: 22px;
}

.blog-info p {
  font-size: 16px;
}

.blog-details-thumb img {
  width: 100%;
}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

  .dreamhub_nav_manu {
    padding: 0 15px 0;
  }
  
  /*--------------hero-section-------------------*/  

  .hero-content span {
    font-size: 45px;
}
  
.hero-content h1 {
  font-size: 45px;
}

.hero-content p {
  font-size: 13px;
}

.main-button {
  font-size: 15px;
}

.ply-btn {
  font-size: 15px;
}

.hero-thumb img {
  width: 90%;
}

.hero-shape img {
  top: -85px;
  left: -230px;
}

 /*--------------feature-section-------------------*/  
 .section-title .number {
  font-size: 130px;
  left: -30px;
}

.section-disc p {
  font-size: 12px;
}

.sec-widget-element ul li {
  margin-bottom: 12px;
  font-size: 15px;
}

.feature-box-title h2 a {
  font-size: 18px;
}

.feature-box-disc p {
  font-size: 12px;
}



 /*--------------blog-section-------------------*/  
 
 .blog-meta {
  left: -90px;
}

.blog-info h3 a {
  font-size: 18px;
}

.blog-info p {
  font-size: 13px;
}

 /*--------------about-section-------------------*/      
 .about-thumb img {
  width: 100%;
}

.about-title .number {
  font-size: 140px;
  right: 315px;
}

.about-disc p {
  font-size: 12px;
}

.about-disc2 {
  font-size: 12px;
}


/*--------------about-two-section-------------------*/      

 .work-sg-thumb img {
  display: none;
}

.about-two-content h2 {
  font-size: 30px;
}

.about-two-content p {
  font-size: 12px;
}

.about-two-thumb img {
  width: 100%;
}

/*--------------contact-section-------------------*/          

.contact-thumb img {
  width: 100%;
}

.contact-content .number {
  font-size: 130px;
  right: 330px;
}

.contact-content h3 {
  font-size: 32px;
}

/*--------------footer-section-------------------*/          

.company-info-desc p {
  font-size: 13px;
}

ul.footer-menu li a {
  font-size: 14px;
}

.footer-info li a {
  font-size: 14px;
}

.blog-details-thumb img {
  width: 100%;
}

.rpost-content h5 a {
  font-size: 12px;
}

span.rcomment {
  font-size: 12px;
}

.blog-detail-thumb p {
  font-size: 13px;
}

}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  .header-top-area {
    display: none;
 }

 div#sticky-header {
  display: none;
}

/*-----------------hero-section----------------*/    

.hero-shape img {
  display: none;
}

/*-----------------feature-section----------------*/       

.section-button a {
  margin-bottom: 30px;
}
 
.upper1 {
  margin: 0px; 
}

/*-----------------blog-section----------------*/    

.blog-date p {
  font-size: 15px;
}

.blog-date p span:after {
  left: 160px;
  height: 65%;
}

.blog-meta {
  left: -365px;
  top: -30px;
  font-size: 15px;
}

.blog-info h3 a {
  font-size: 20px;
}

.blog-info p {
  font-size: 16px;
}


/*-----------------about-two-section----------------*/   

.about-title .number {
  right: 550px;
}

.about-title h3 {
  font-size: 45px;
}

.work-sg-thumb {
  display: none;
}

.about-two-thumb img {
  width: 100%;
  margin: 80px 0 0;
}

/*-----------------contact-section----------------*/       

.contact-content .number {
  right: 545px;
}

.blog-details-thumb img {
  width: 100%;
}

.rpost-content h5 a {
  font-size: 12px;
}

span.rcomment {
  font-size: 12px;
}

.blog-detail-thumb p {
  font-size: 13px;
}

.hero-thumb img {
  width: 70%;
}
.hero-thumb {
  text-align: center;
  align-items: center;
  align-content: center;
}

}

/* Large Mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {

  .header-top-area {
    display: none;
}

div#sticky-header {
  display: none;
}

.hero-content h1 {
  font-size: 40px;
}

.hero-content span {
  font-size: 40px;
}

.hero-content p {
  font-size: 14px;
}

.hero-thumb img {
  width: 100%;
}

.hero-shape img {
  display: none;
}

   
/*--------------feature-section-------------*/    

.section-disc p {
  font-size: 13px;
}

.sec-widget-element ul li {
  font-size: 14px;
}

.section-button a {
  margin: 0px 0 30px;
}
 
.pricing-title h2 {
  font-size: 40px;
}

/*--------------reviews-section-------------*/  

.reviews-title h2 {
  font-size: 40px;
}

.reviews-sub-title h4 {
  font-size: 18px;
}

.reviews-disc p {
  font-size: 13px;
}

/*--------------about-section-------------*/   

.work-title h3 {
  font-size: 40px;
}

.about-thumb img {
  width: 100%;
}

.about-title .number {
  font-size: 130px;
  right: 395px;
}

.about-title h3 {
  font-size: 38px;
}

.about-disc p {
  font-size: 13px;
}

.about-disc2 {
  font-size: 13px;
}

.work-single-box.upper {
  top: 0px;
}

.work-sg-thumb img {
  display: none;
}

.about-two-content h2 {
  font-size: 35px;
}

.about-two-content p {
  font-size: 14px;
}

.about-two-thumb img {
  width: 100%;
  margin: 80px 0 0;
}


/*--------------blog-section-------------*/   

.blog-title h2 {
  font-size: 40px;
}

.blog-meta {
  left: -155px;
}
   
.blog-info h3 a {
  font-size: 20px;
}

.blog-info p {
  font-size: 15px;
}


/*--------------feature-section-------------*/    

.upper1 {
   margin: 0px; 
}

/*--------------contact-section-------------*/    

.contact-thumb img {
  width: 100%;
}

.contact-content .number {
  font-size: 130px;
  right: 390px;
}

.contact-content h3 {
  font-size: 35px;
}

.footer-section {
  text-align: center;
}

.blog-details-thumb img {
  width: 100%;
}

.rpost-content h5 a {
  font-size: 12px;
}

span.rcomment {
  font-size: 12px;
}

.blog-detail-thumb p {
  font-size: 11px;
}

.blog-description h3 a {
  font-size: 28px;
  margin-bottom: 15px;
  display: inline-block;
}

}


/* small mobile :480px. */
@media only screen and (max-width: 599px) {

.header-top-area {
  display: none !important;
}

#sticky-header {
  display: none;
}

.hero-content h1 {
  font-size: 35px;
}

.hero-content span {
  font-size: 35px;
}

.hero-content h1{
  font-size: 30px;
}

.hero-content span {
  font-size: 30px;
}

.hero-content p {
  font-size: 13px;
}

.main-button {
  font-size: 14px;
}

.ply-btn {
  font-size: 14px;
}

.hero-thumb img {
  width: 100%;
}

.hero-shape img {
  display: none;
}

   
/*--------------feature-section-------------*/    

.section-title .number {
  font-size: 120px;
  left: -14px;
}

.section-title h5 {
  font-size: 15px;
}

.section-title h3 {
  font-size: 35px;
}

.section-disc p {
  font-size: 11px;
}

.sec-widget-element ul li {
  font-size: 14px;
}

.section-button a {
   margin: 0 0 30px;
}

/*--------------about-section-------------*/    
.about-thumb img {
  width: 100%;
}

.about-title .number {
  font-size: 120px;
  right: 320px;
}

.about-title h3 {
  font-size: 30px;
}

.about-disc p {
  font-size: 12px;
}

.about-disc2 {
  font-size: 12px;
}

.work-title h3 {
  font-size: 35px;
}

.work-title p {
  font-size: 14px;
}

.work-single-box.upper {
  top: 0px;
}

.work-sg-thumb img {
  display: none;
}


/*--------------blog-section-------------*/    

.blog-title h5 {
  font-size: 15px;
}

.blog-title h2 {
  font-size: 30px;
}

.blog-title p {
  font-size: 13px;
}

.blog-date p span:after {
  left: 165px;
}

.blog-meta {
  left: -115px;
  font-size: 15px;
}

.blog-date p {
  font-size: 15px;
}

.blog-info h3 a {
  font-size: 18px;
}

.blog-info p {
  font-size: 12px;
}



/*--------------about-two-section-------------*/    
.about-two-content h2 {
  font-size: 30px;
}
   
.about-two-content p {
  font-size: 12px;
}

.about-two-thumb img {
  margin: 80px 0 0;
}


/*--------------reviews-section-------------*/

.reviews-title h5 {
  font-size: 15px;
}

.reviews-title h2 {
  font-size: 30px;
}

.reviews-title p {
  font-size: 13px;
}

/*--------------pricing-section-------------*/

.pricing-title h5 {
  font-size: 15px;
}

.pricing-title h2 {
  font-size: 30px;
}

.pricing-title p {
  font-size: 13px;
}

/*--------------contact-section-------------*/

.contact-thumb img {
  width: 100%;
}

.contact-content .number {
  font-size: 120px;
  right: 320px;
}

.contact-content h3 {
  font-size: 25px;
}

/*--------------footer-section-------------*/   

.widgets-company-info {
  text-align: center;
}

.widget-nav-menu {
  text-align: center;
}

.blog-details-thumb img {
  width: 100%;
}

.rpost-content h5 a {
  font-size: 12px;
}

span.rcomment {
  font-size: 12px;
}

.blog-detail-thumb p {
  font-size: 11px;
}

.blog-description h3 a {
  font-size: 28px;
  margin-bottom: 15px;
  display: inline-block;
}

.blog-description h3 a {
  font-size: 25px;
}

.blog-description p {
  font-size: 10px;
}

}

/* small mobile :320px. */
@media only screen and (max-width: 320px){

  .header-top-area {
    display: none !important;
  }
  
  #sticky-header {
    display: none !important;
  }

  .hero-content span {
    font-size: 30px;
}

.hero-content h1 {
  font-size: 30px;
}

.hero-content p {
  font-size: 12px;
}

.main-button {
  font-size: 12px;
  padding: 12px 12px;
}

.ply-btn {
  font-size: 12px;
  padding: 12px 12px;
}


/*--------------about-section-------------*/    

.hero-thumb img {
  width: 100%;
}

.hero-shape img {
  display: none;
}
   

/*--------------blog-section-------------*/  

.blog-title h5 {
  font-size: 15px;
}

.blog-title h2 {
  font-size: 30px;
}

.blog-date p {
  font-size: 15px;
}

.blog-date p span:after {
  left: 155px;
  height: 60%;
}

.blog-meta {
  left: -300px;
  font-size: 15px;
}

.blog-info h3 a {
  font-size: 20px;
}

.blog-info p {
  font-size: 15px;
}


/*--------------about-two-section-------------*/    

.about-thumb img {
  width: 100%;
}

.about-title h5 {
  font-size: 15px;
}

.about-title .number {
  font-size: 100px;
  right: 185px;
}

.about-title h3 {
  font-size: 28px;
}

.about-disc p {
  font-size: 14px;
}

.about-disc2 {
  font-size: 14px;
}

.about-button a {
  font-size: 14px;
}

.work-title h5 {
  font-size: 15px;
}

.work-title h3 {
  font-size: 29px;
}

.work-title p {
  font-size: 14px;
}

.work-single-box.upper {
   top: 0;
}

.work-sg-thumb img {
  display: none;
}

.about-two-content h2 {
  font-size: 21px;
}

.about-two-content p {
   font-size: 13px;
}

.about-two-thumb {
  margin: 0;
}

.about-two-thumb img {
  width: 100%;
  margin: 0;
}

.about-two-button img {
  margin: 0px 0 20px;
}


/*--------------feature-section-------------*/    

.section-title .number {
  font-size: 100px;
  left: -15px;
}

.section-title h5 {
  font-size: 15px;
}

.section-title h3 {
  font-size: 29px;
}

.section-disc p {
  font-size: 14px;
}

.sec-widget-element ul li {
  font-size: 13px;
}

.section-button a {
  font-size: 14px;
  margin: 0px 0 30px;
}

/*------------------reviews-section-------------*/

.reviews-title h5 {
  font-size: 15px;
}

.reviews-title h2 {
  font-size: 30px;
}

/*-------------pricing-section--------------*/

.pricing-title h5 {
  font-size: 15px;
}

.pricing-title h2 {
  font-size: 29px;
}

.pricing .tk {
  font-size: 42px;
}

.pricing-boody ul li {
  font-size: 13px;
}

.contact-thumb img {
  width: 100%;
}

/*-------------contact-section-----------*/

.contact-content .number {
  font-size: 100px;
  right: 180px;
}

.contact-content h5 {
  font-size: 15px;
}

.contact-content h3 {
  font-size: 30px;
}

.form-button button {
  font-size: 14px;
}

/*--------------footer-section-------------*/ 

.footer-section {
  text-align: center;
}

.company-info-desc p {
  font-size: 13px;
}

.blog-details-thumb img {
  width: 100%;
}

.rpost-content h5 a {
  font-size: 12px;
}

span.rcomment {
  font-size: 12px;
}

.blog-detail-thumb p {
  font-size: 11px;
}

.blog-description h3 a {
  font-size: 28px;
  margin-bottom: 15px;
  display: inline-block;
}

.blog-description h3 a {
  font-size: 16px;
}

.blog-description p {
  font-size: 6px;
}

.blog-leave-title h3 {
  font-size: 20px;
}

.breadcumb-title h1 {
  font-size: 45px;
}

.breadcumb-content-menu ul li span {
  font-size: 15px;
}

.blog-details-meta span {
  font-size: 14px;
  margin-right: 3px;
}

.blog-details-meta a {
  font-size: 14px;
  margin-right: 3px;
}

.blog-details-inner h3 {
  font-size: 20px;
}

}
