
@{
    ViewData["Title"] = "Detalhamento do Laudo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	@* <div class="col-md-4 col-lg-3">

		<section class="panel">
			<div class="panel-body">
				<div class="thumb-info mb-md">
					<img src="~/assets/images/!logged-user.jpg" class="rounded img-responsive" alt="John Doe">
					<div class="thumb-info-title">
						<span class="thumb-info-inner">Fábio Muniz</span>
						<span class="thumb-info-type">Natação</span>
					</div>
				</div>

				<div class="widget-toggle-expand mb-md">
					<div class="widget-header">
						<h6>Conclusão do DNA</h6>
						<div class="widget-toggle">+</div>
					</div>
					<div class="widget-content-collapsed">
						<div class="progress progress-xs light">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								60%
							</div>
						</div>
					</div>
					<div class="widget-content-expanded">
						<ul class="simple-todo-list">
							<li class="completed">Preensão manual</li>
							<li class="completed">Flexibilidade</li>
							<li>Impulsao horizontal</li>
							<li>Agilidade</li>
						</ul>
					</div>
				</div>

				<hr class="dotted short">

				<h6 class="text-muted">Sobre mim</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis vulputate quam. Interdum et malesuada</p>
				<div class="clearfix">
					<a class="text-uppercase text-muted pull-right" href="#">Visualizar Tudo</a>
				</div>


			</div>
		</section>


		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
				</div>

				<h2 class="panel-title">
					<span class="label label-success label-sm text-weight-normal va-middle mr-sm">5</span>
					<span class="va-middle">Caracteristicas</span>
				</h2>
			</header>
			<div class="panel-body">
				<div class="content">
					<ul class="simple-user-list">
						<li>
							<figure class="image rounded">
								<img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
							</figure>
							<span class="title">Preensão manual</span>
							<span class="message truncate">Normal/Desenvolvimento</span>
						</li>
						<li>
							<figure class="image rounded">
								<img src="~/assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle">
							</figure>
							<span class="title">Flexibilidade</span>
							<span class="~/message truncate">Desenvolvimento Destacado</span>
						</li>
						<li>
							<figure class="image rounded">
								<img src="~/assets/images/!sample-user.jpg" alt="Joe Junior" class="img-circle">
							</figure>
							<span class="title">Impulsao horizontal</span>
							<span class="~/message truncate">Desenvolvimento Destacado</span>
						</li>
						<li>
							<figure class="image rounded">
								<img src="~/assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
							</figure>
							<span class="title">Agilidade</span>
							<span class="message truncate">Normal/Desenvolvimento</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel-footer">
				<div class="input-group input-search">
					<input type="text" class="form-control" name="q" id="q" placeholder="Pesquisar...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		</section>

	</div> *@
	<div class="col-md-8 col-lg-12">

		<div class="tabs">
			<ul class="nav nav-tabs tabs-primary">
				<li class="active">
					<a href="#laudo" data-toggle="tab">Laudo</a>
				</li>
				<li>
					<a href="#talento-esportivo" data-toggle="tab">Talento Esportivo</a>
				</li>
				<li>
					<a href="#vocacional" data-toggle="tab">Vocacional</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="laudo" class="tab-pane  active">
					<form class="form-horizontal" method="get">
						<h4 class="mb-xlg">Informação Pessoal</h4>
						<fieldset>
							<div class="form-group">
								<label class="col-md-3 control-label" for="profileFirstName">Nome</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="profileFirstName" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="profileLastName">Idade</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="profileLastName" readonly>
								</div>
								<label class="col-md-2 control-label" for="profileAddress">Sexo</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="profileAddress" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="profileLastName">Telefone</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="profileLastName">
								</div>
								<label class="col-md-2 control-label" for="profileAddress">Localidade</label>
								<div class="col-md-3">
									<input type="text" class="form-control" id="profileAddress">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="profileFirstName">Rede Social</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="profileFirstName">
                                </div>
                            </div>
                        </fieldset>
                    </form>
					

                </div>
                <div id="talento-esportivo" class="tab-pane">
					<div class="panel-body">
						<div class="well well-lg">
							<div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
								<div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#ed9c28", "delay": 300, "size": 50, "lineWidth": 4 }'>
									<strong>Average</strong>
									<label><span class="percent">45</span>%</label>
								</div>
							</div>
							<div class="h4 text-weight-bold mb-none">12/02/2023</div>
							<p class="text-xs text-muted mb-none">Porcentagem de Talento Esportivo</p>
						</div>

						<div class="row">
							<div class="col-md-12">
								<form id="form" action="forms-validation.html" class="form-horizontal">
									<section class="panel">
										<div class="panel-body">
											<div class="form-group">

												<label class="col-sm-1 control-label">Profissional </label>
												<div class="col-sm-6">
													<input type="text" name="fullname" class="form-control" placeholder="Wagner Telles da Silva" disabled="" />
												</div>

												<label class="col-sm-1 control-label">Idade </label>
												<div class="col-sm-1">
													<input type="text" name="idade" class="form-control" placeholder="8" disabled="" />
												</div>

												<label class="col-sm-1 control-label">Sexo </label>
												<div class="col-sm-2">
													<input type="text" name="sexo" class="form-control" placeholder="Feminino" disabled="" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-1 control-label">Local </label>
												<div class="col-sm-3">
													<input id="local" name="local" class="form-control"
														   type="text" placeholder="E.M. Elda Silva Barros" disabled="">
												</div>
												<label class="col-sm-1 control-label">Série </label>
												<div class="col-sm-3">
													<input id="local" name="local" class="form-control"
														   type="text" placeholder="E.M. Elda Silva Barros" disabled="">
												</div>
												<label class="col-sm-1 control-label">Turma </label>
												<div class="col-sm-3">
													<input id="turma" name="turma" class="form-control"
														   type="text" placeholder="A DEFINIR" disabled="">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-1 control-label">Altura </label>
												<div class="col-sm-3">
													<input type="text" name="altura" class="form-control" placeholder="128 cm" disabled="" />
												</div>
												<label class="col-sm-1 control-label">Peso</label>
												<div class="col-sm-2">
													<input type="text" name="peso" class="form-control" placeholder="25,5 kg" disabled="" />
												</div>
												<label class="col-sm-2 control-label">Modalidade</label>
												<div class="col-sm-3">
													<input type="text" name="peso" class="form-control" placeholder="Não definida" disabled="" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Indice Positivo de Saúde</label>
												<div class="col-sm-2">
													<input id="ips" name="indice-positivo-saude"
														   type="text" placeholder="0%" class="form-control" disabled="" />
												</div>
												<label class="col-sm-2 control-label">Acima do Peso </label>
												<div class="col-sm-2">
													<input id="acima-peso" name="acima-peso"
														   type="text" placeholder="0%" class="form-control" disabled="" />
												</div>
												<label class="col-sm-2 control-label">Baixo Peso </label>
												<div class="col-sm-2">
													<input id="baixo-peso" name="baixo-peso"
														   type="text" placeholder="0%" class="form-control" disabled="" />
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-4">
													<div class=" alert alert-info">
														<strong>0%</strong>
														<div>
															<label class="control-label">Força explosiva de membros inferiores</label>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class=" alert alert-info">
														<strong>0%</strong>
														<div>
															<label class="control-label">Velocidade</label>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class=" alert alert-info">
														<strong>0%</strong>
														<div>
															<label class="control-label">Agilidade</label>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class=" alert alert-info">
														<strong>0%</strong>
														<div>
															<label class="control-label">Resistencia Abdominal</label>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class=" alert alert-info">
														<strong>0%</strong>
														<div>
															<label class="control-label">Aptidão cardiorrespiratoria</label>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class=" alert alert-info">
														<strong>0%</strong>
														<div>
															<label class="control-label">Flexibilidade Muscular</label>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class=" alert alert-info">
														<strong>0%</strong>
														<div>
															<label class="control-label">Força de membros superiores</label>
														</div>
													</div>
												</div>
											</div>

											<div class="row form-group">
												<a data-toggle="modal" data-target="#mdDetalhamento">
													<section class="panel col-md-4">
														<div class="panel-body bg-warning-less">
															<div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																<div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	<strong>Average</strong>
																	<label><span class="percent">45</span>%</label>
																</div>
															</div>
															<div class="h4 text-weight-bold mb-none">Indice de massa corporal (IMC)</div>
															<p class="text-xs mb-none">Normal/Adequado</p>
														</div>
													</section>
												</a>
												<a data-toggle="modal" data-target="#mdDetalhamento">
													<section class="panel col-md-4">
														<div class="panel-body bg-warning-less">
															<div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																<div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	<strong>Average</strong>
																	<label><span class="percent">45</span>%</label>
																</div>
															</div>
															<div class="h4 text-weight-bold mb-none">Preensão Manual (kg)</div>
															<p class="text-xs mb-none">Excelente</p>
														</div>
													</section>
												</a>
												<a data-toggle="modal" data-target="#mdDetalhamento">
													<section class="panel col-md-4">
														<div class="panel-body bg-warning-less">
															<div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																<div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	<strong>Average</strong>
																	<label><span class="percent">45</span>%</label>
																</div>
															</div>
															<div class="h4 text-weight-bold mb-none">Flexibilidade (cm)</div>
															<p class="text-xs mb-none">Normal/Desenvolvimento</p>
														</div>
													</section>
												</a>
											</div>
											<div class="row form-group">
												<a data-toggle="modal" data-target="#mdDetalhamento">
													<section class="panel col-md-4">
														<div class="panel-body bg-warning-less">
															<div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																<div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	<strong>Average</strong>
																	<label><span class="percent">45</span>%</label>
																</div>
															</div>
															<div class="h4 text-weight-bold mb-none">Impulsão Horizontal (cm)</div>
															<p class="text-xs mb-none">Normal/Desenvolvimento</p>
														</div>
													</section>
												</a>
												<a data-toggle="modal" data-target="#mdDetalhamento">
													<section class="panel col-md-4">
														<div class="panel-body bg-warning-less">
															<div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																<div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	<strong>Average</strong>
																	<label><span class="percent">45</span>%</label>
																</div>
															</div>
															<div class="h4 text-weight-bold mb-none">Velocidade-20m (seg)</div>
															<p class="text-xs mb-none">Normal/Desenvolvimento</p>
														</div>
													</section>
												</a>
												<a data-toggle="modal" data-target="#mdDetalhamento">
													<section class="panel col-md-4">
														<div class="panel-body bg-warning-less">
															<div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																<div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	<strong>Average</strong>
																	<label><span class="percent">45</span>%</label>
																</div>
															</div>
															<div class="h4 text-weight-bold mb-none">Aptidão Fisica-6min (m)</div>
															<p class="text-xs mb-none">Fraco</p>
														</div>
													</section>
												</a>
											</div>
											<div class="row form-group">
												<a data-toggle="modal" data-target="#mdDetalhamento">
													<section class="panel col-md-4">
														<div class="panel-body bg-warning-less">
															<div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																<div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	<strong>Average</strong>
																	<label><span class="percent">45</span>%</label>
																</div>
															</div>
															<div class="h4 text-weight-bold mb-none">Agilidade (seg)</div>
															<p class="text-xs mb-none">Fraco</p>
														</div>
													</section>
												</a>
												<a data-toggle="modal" data-target="#mdDetalhamento">
													<section class="panel col-md-4">
														<div class="panel-body bg-warning-less">
															<div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																<div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	<strong>Average</strong>
																	<label><span class="percent">45</span>%</label>
																</div>
															</div>
															<div class="h4 text-weight-bold mb-none">Abdominal (qtd)</div>
															<p class="text-xs mb-none">M. Fraco</p>
														</div>
													</section>
												</a>
											</div>

											<div class="row form-group col-md-12">
												<div class="panel-group" id="accordionMeuTalento">
													<div class="panel panel-accordion panel-accordion-warning">
														<div class="panel-heading">
															<h4 class="panel-title">
																<a>
																	Meus Talentos
																	<div class="pull-right">Em Desenvolvimento <i class="fa fa-cogs"></i></div>
																</a>
															</h4>
														</div>
													</div>

												</div>
											</div>

											<div class=" form-group">
												<label class="col-md-2 control-label" for="textareaDefault">Recomendações </label>
												<div class="col-md-9">
													<textarea class="form-control" rows="2" id="recommend"></textarea>
												</div>
											</div>

										</div>
										<footer class="panel-footer">
											<div class="row">
												<div class="col-md-9 col-md-offset-3">
													<button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
												</div>
											</div>
										</footer>
									</section>
								</form>
							</div>
						</div>
					</div>

                </div>
                <div id="vocacional" class="tab-pane">
					    <div class="panel-body">
						    <div class="well well-lg">
							    <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
								    <div class="circular-bar-chart" data-percent="45" data-plugin-options='{ "barColor": "#784e96", "delay": 300, "size": 50, "lineWidth": 4 }'>
									    <strong>Average</strong>
									    <label><span class="percent">45</span>%</label>
								    </div>
							    </div>
							    <div class="h4 text-weight-bold mb-none">12/02/2023</div>
							    <p class="text-xs text-muted mb-none">Porcentagem Vocacional</p>
						    </div>
						    <div class="row">
							    <div class="col-md-12">
								    <form id="form" action="forms-validation.html" class="form-horizontal">
									    <section class="panel">
										    <div class="panel-body">
											    <div class="form-group">

												    <label class="col-sm-1 control-label">Profissional </label>
												    <div class="col-sm-6">
													    <input type="text" name="fullname" class="form-control" placeholder="Wagner Telles da Silva" disabled="" />
												    </div>

												    <label class="col-sm-1 control-label">Idade </label>
												    <div class="col-sm-1">
													    <input type="text" name="idade" class="form-control" placeholder="8" disabled="" />
												    </div>
												    <label class="col-sm-1 control-label">Sexo </label>
												    <div class="col-sm-2">
													    <input type="text" name="sexo" class="form-control" placeholder="Feminino" disabled="" />
												    </div>
											    </div>
											    <div class="form-group">

												    <label class="col-sm-1 control-label">Local </label>
												    <div class="col-sm-3">
													    <input id="local" name="local" class="form-control"
														       type="text" placeholder="E.M. Elda Silva Barros" disabled="">
												    </div>
												    <label class="col-sm-1 control-label">Serie </label>
												    <div class="col-sm-3">
													    <input id="turma" name="serie" class="form-control"
														       type="text" placeholder="" disabled="">
												    </div>
												    <label class="col-sm-1 control-label">Turma </label>
												    <div class="col-sm-3">
													    <input id="turma" name="turma" class="form-control"
														       type="text" placeholder="A" disabled="">
												    </div>
											    </div>
											    <div class="row form-group col-md-12">
												    <div class="panel-group" id="accordionMeuTalento">
													    <div class="panel panel-accordion panel-accordion-voc">
														    <div class="panel-heading">
															    <h4 class="panel-title">
																    <a>
																	    Grau de Interesse
																	    <div class="pull-right"><strong>39%</strong> (117 de 300) </div>
																    </a>
															    </h4>
														    </div>
													    </div>

												    </div>
											    </div>
											    <div class="form-group">
												    <div class="col-sm-4">
													    <div class=" alert alert-info">
														    <strong>0%</strong>
														    <div>
															    <label class="control-label">Tecnologias aplicadas</label>
														    </div>
													    </div>
												    </div>
												    <div class="col-sm-4">
													    <div class=" alert alert-info">
														    <strong>0%</strong>
														    <div>
															    <label class="control-label">Ciências Exatas e Naturais</label>
														    </div>
													    </div>
												    </div>
												    <div class="col-sm-4">
													    <div class=" alert alert-info">
														    <strong>0%</strong>
														    <div>
															    <label class="control-label">Artístico</label>
														    </div>
													    </div>
												    </div>
											    </div>
											    <div class="form-group">
												    <div class="col-sm-4">
													    <div class=" alert alert-info">
														    <strong>0%</strong>
														    <div>
															    <label class="control-label">Ciências Humanas</label>
														    </div>
													    </div>
												    </div>
												    <div class="col-sm-4">
													    <div class=" alert alert-info">
														    <strong>0%</strong>
														    <div>
															    <label class="control-label">Empreendedorismo</label>
														    </div>
													    </div>
												    </div>
												    <div class="col-sm-4">
													    <div class=" alert alert-info">
														    <strong>0%</strong>
														    <div>
															    <label class="control-label">Ciências Contábeis e Administrativas</label>
														    </div>
													    </div>
												    </div>
											    </div>

											    <div class="row form-group">
												    <a data-toggle="modal" data-target="#mdDetalhamento">
													    <section class="panel col-md-4">
														    <div class="panel-body bg-voc">
															    <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																    <div class="circular-bar-chart" data-percent="34" data-plugin-options='{ "barColor": "#593a6f", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	    <strong>Average</strong>
																	    <label><span class="percent">34</span>%</label>
																    </div>
															    </div>
															    <div class="h4 text-weight-bold mb-none">Interesses Realistas (%)</div>
															    <p class="text-xs mb-none">12 de 35</p>
														    </div>
													    </section>
												    </a>
												    <a data-toggle="modal" data-target="#mdDetalhamento">
													    <section class="panel col-md-4">
														    <div class="panel-body bg-voc">
															    <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																    <div class="circular-bar-chart" data-percent="46" data-plugin-options='{ "barColor": "#593a6f", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	    <strong>Average</strong>
																	    <label><span class="percent">46</span>%</label>
																    </div>
															    </div>
															    <div class="h4 text-weight-bold mb-none">Interesses Intelectuais (%)</div>
															    <p class="text-xs mb-none">30 de 65</p>
														    </div>
													    </section>
												    </a>
												    <a data-toggle="modal" data-target="#mdDetalhamento">
													    <section class="panel col-md-4">
														    <div class="panel-body bg-voc">
															    <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																    <div class="circular-bar-chart" data-percent="44" data-plugin-options='{ "barColor": "#593a6f", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	    <strong>Average</strong>
																	    <label><span class="percent">44</span>%</label>
																    </div>
															    </div>
															    <div class="h4 text-weight-bold mb-none">Interesses Artísticos (%)</div>
															    <p class="text-xs mb-none">20 de 45</p>
														    </div>
													    </section>
												    </a>
											    </div>

											    <div class="row form-group">
												    <a data-toggle="modal" data-target="#mdDetalhamento">
													    <section class="panel col-md-4">
														    <div class="panel-body bg-voc">
															    <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																    <div class="circular-bar-chart" data-percent="34" data-plugin-options='{ "barColor": "#593a6f", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	    <strong>Average</strong>
																	    <label><span class="percent">34</span>%</label>
																    </div>
															    </div>
															    <div class="h4 text-weight-bold mb-none">Interesses Sociais (%)</div>
															    <p class="text-xs mb-none">13 de 55</p>
														    </div>
													    </section>
												    </a>
												    <a data-toggle="modal" data-target="#mdDetalhamento">
													    <section class="panel col-md-4">
														    <div class="panel-body bg-voc">
															    <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																    <div class="circular-bar-chart" data-percent="46" data-plugin-options='{ "barColor": "#593a6f", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	    <strong>Average</strong>
																	    <label><span class="percent">46</span>%</label>
																    </div>
															    </div>
															    <div class="h4 text-weight-bold mb-none">Interesses Empreendedores (%)</div>
															    <p class="text-xs mb-none">27 de 55</p>
														    </div>
													    </section>
												    </a>
												    <a data-toggle="modal" data-target="#mdDetalhamento">
													    <section class="panel col-md-4">
														    <div class="panel-body bg-voc">
															    <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
																    <div class="circular-bar-chart" data-percent="44" data-plugin-options='{ "barColor": "#593a6f", "delay": 300, "size": 50, "lineWidth": 4 }'>
																	    <strong>Average</strong>
																	    <label><span class="percent">44</span>%</label>
																    </div>
															    </div>
															    <div class="h4 text-weight-bold mb-none">Interesses Convencionais (%)</div>
															    <p class="text-xs mb-none">15 de 45</p>
														    </div>
													    </section>
												    </a>
											    </div>

											    <div class="row form-group">
												    <label class="col-md-2 control-label" for="textareaDefault">Recomendações </label>
												    <div class="col-md-10">
													    <textarea class="form-control" rows="2" id="recommend"></textarea>
												    </div>
											    </div>
										    </div>
										    <footer class="panel-footer">
											    <div class="row">
												    <div class="col-md-9 col-md-offset-3">
													    <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>

												    </div>
											    </div>
										    </footer>
									    </section>
								    </form>
							    </div>
						    </div>

					    </div>
                
                </div>
			</div>
		</div>
	</div>
	@* <div class="col-md-12 col-lg-3">

		<h4 class="mb-md">Porcentagem</h4>
		<ul class="simple-card-list mb-xlg">
			<li class="rosa">
				<h3 style="color: white;">+25%</h3>
				<p style="color: white;">Força explosiva de membros inferiores</p>
			</li>
			<li class="roxo">
				<h3 style="color: white;">-7%</h3>
				<p style="color: white;">Flexibilidade muscular</p>
			</li>
			<li class="azul">
				<h3 style="color: white;">+16%</h3>
				<p style="color: white;">Resistência aeróbica</p>
			</li>
		</ul>

		<h4 class="mb-md">Recomendações</h4>
		<ul class="simple-bullet-list mb-xlg">
			<li class="red">
				<span class="title">Porto Template</span>
				<span class="description truncate">Lorem ipsom dolor sit.</span>
			</li>
			<li class="green">
				<span class="title">Tucson HTML5 Template</span>
				<span class="description truncate">Lorem ipsom dolor sit amet</span>
			</li>
			<li class="blue">
				<span class="title">Porto HTML5 Template</span>
				<span class="description truncate">Lorem ipsom dolor sit.</span>
			</li>
			<li class="orange">
				<span class="title">Tucson Template</span>
				<span class="description truncate">Lorem ipsom dolor sit.</span>
			</li>
		</ul>

	</div> *@

</div>

