@{
    ViewBag.Title = "Cadastro Qualidade de Vida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row form-group col-md-12">
    <div class="panel-group" id="accordionMeuTalento">
        <div class="panel panel-accordion panel-accordion-qv">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="text-align: center">
                        Qualidade de Vida
                        <br />
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (@Html.BeginForm("CreateQualidadeVida", "Aluno", FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
        {
            <div class="panel-body">
                <div class="row form-group col-md-12">
                    <form id="chk-radios-form" action="forms-validation.html">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="row form-group">
                                    <div class="row col-sm-12">
                                        <label class="control-label"><strong>Profissional</strong></label>
                                    </div>
                                    <div class="row col-sm-6">
                                        <select id="company" class="form-control" title="Please select at least one company" required>
                                            <option value="">Selecione um profissional</option>
                                            <option value="wagner telles da silva">Wagner Telles Da Silva</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>1. Durante a semana passada: me senti mal.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>2. Durante a semana passada: tive alguma dor.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>3. Durante a semana passada: fiquei cansado e esgotado.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>4. Durante a semana passada: me senti forte e cheio de energia.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>5. Durante a semana passada: me diverti e ri muito.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>6. Durante a semana passada: não tive nada para fazer.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>7. Durante a semana passada: me senti sozinho.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>8. Durante a semana passada: fiquei com medo ou inseguro.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>9. Durante a semana passada: me orgulhei de mim mesmo.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>10. Durante a semana passada: me senti no topo do mundo.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>11. Durante a semana passada: me senti satisfeito comigo mesmo.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>12. Durante a semana passada: tive muitas idéias boas.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>13. Durante a semana passada: me dei bem com meus pais.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>14. Durante a semana passada: me senti bem em casa.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>15. Durante a semana passada: brigamos em casa.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>16. Durante a semana passada: me senti limitado por meus pais.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>17. Durante a semana passada: passei tempo com os meus amigos.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>18. Durante a semana passada: fui um "sucesso" com os meus amigos.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>19. Durante a semana passada: me dei bem com meus amigos.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>20. Durante a semana passada: me senti diferente das outras pessoas.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>21. Durante a semana passada: foi fácil fazer as atividades escolares.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>22. Durante a semana passada: achei as minhas aulas interessantes.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>23. Durante a semana passada: me preocupei com meu futuro.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="row form-group col-sm-12">
                                        <label class="control-label"><strong>24. Durante a semana passada: tive medo de tirar notas baixas.</strong><span class="required">*</span></label>
                                    </div>
                                    <div class="row form-group col-sm-12">
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="a" name="qv-x" type="radio" value="x-a" />
                                            <label for="a">Nunca</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="b" name="qv-x" type="radio" value="x-b" />
                                            <label for="b">Raramente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="c" name="qv-x" type="radio" value="x-c" />
                                            <label for="c">Ás Vezes</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-3">
                                            <input id="d" name="qv-x" type="radio" value="x-d" />
                                            <label for="d">Frequentemente</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-sm-4">
                                            <input id="e" name="qv-x" type="radio" value="x-e" />
                                            <label for="e">Sempre</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-forward"></i> &nbsp;&nbsp;Próximo</button>
                                        <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                                        <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script>


        // iosSwitcher
        (function ($) {

            'use strict';

            if (typeof Switch !== 'undefined' && $.isFunction(Switch)) {

                $(function () {
                    $('[data-plugin-ios-switch]').each(function () {
                        var $this = $(this);

                        $this.themePluginIOS7Switch();
                    });
                });

            }

        }).apply(this, [jQuery]);

    </script>
}