@{
    ViewData["Title"] = "Cadastro Saúde";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row form-group col-md-12">
    <div class="panel-group" id="accordionMeuTalento">
        <div class="panel panel-accordion panel-accordion-danger">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a style="text-align: center">
                        Saude
                        <br />
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (@Html.BeginForm("CreateSaude", "Aluno", FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
        {
            <div class="panel-body">
                <div class="row form-group col-md-12">
                    <form id="chk-radios-form" action="forms-validation.html">
                        <section class="panel">
                            <div class="panel-body">
                                <div class="row form-group">
                                    <div class="row col-sm-12">
                                        <label class="control-label"><strong>Profissional</strong></label>
                                    </div>
                                    <div class="row col-sm-6">
                                        <select id="company" class="form-control" title="Please select at least one company" required>
                                            <option value="">Selecione um profissional</option>
                                            <option value="wagner telles da silva">Wagner Telles Da Silva</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div>
                                        <label class="col-sm-2 control-label"><strong>Altura (cm) </strong><span class="required">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" required />
                                        </div>
                                    </div>
                                    <div>
                                        <label class="col-sm-3 control-label"><strong>Massa Corporal (kg)</strong><span class="required">*</span></label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div>
                                        <label class="col-sm-2 control-label"><strong>Envergadura (cm)</strong><span class="required">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" required />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-forward"></i> &nbsp;&nbsp;Próximo</button>
                                        <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                                        <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script>


        // iosSwitcher
        (function ($) {

            'use strict';

            if (typeof Switch !== 'undefined' && $.isFunction(Switch)) {

                $(function () {
                    $('[data-plugin-ios-switch]').each(function () {
                        var $this = $(this);

                        $this.themePluginIOS7Switch();
                    });
                });

            }

        }).apply(this, [jQuery]);

    </script>
}