
@{
    ViewData["Title"] = "~Cadastrao Talento Esportivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
	<div class="col-md-12">
		@using (@Html.BeginForm("CreateTalentoEsportivo", "Aluno", FormMethod.Post, new { id = "form", @class = "form-horizontal" }))
		{
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					</div>

					<h2 class="panel-title">Cadastro de Talento Esportivo</h2>
				</header>
				<div class="panel-body">

					<div class="form-group">
						<label class="col-sm-2 control-label">Nome</label>
						<div class="col-sm-3">
							<input type="text" name="fullname" class="form-control" required />
						</div>
						<label class="col-sm-1 control-label">Email </label>
						<div class="col-sm-3">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-envelope"></i>
								</span>
								<input type="email" name="email" class="form-control" required />
							</div>
						</div>
						<label class="col-sm-1 control-label">Senha </label>
						<div class="col-sm-2">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-lock"></i>
								</span>
								<input id="ssenha" name="senha" class="form-control"
									   maxlength="15" type="password"
									   title="Por favor informe a senha.">
							</div>
						</div>
					</div>
					
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-md-9 col-md-offset-3">
							<button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-forward"></i> &nbsp;&nbsp;Próximo</button>
							<button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
							<button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
						</div>
					</div>
				</footer>
			</section>
		}
	</div>
</div>

@section CssSpecificVendor {
	<link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
	<script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>
	<script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
	<script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/js/formatTable.js"></script>
	<script>


		// iosSwitcher
		(function ($) {

			'use strict';

			if (typeof Switch !== 'undefined' && $.isFunction(Switch)) {

				$(function () {
					$('[data-plugin-ios-switch]').each(function () {
						var $this = $(this);

						$this.themePluginIOS7Switch();
					});
				});

			}

		}).apply(this, [jQuery]);

	</script>
}







