@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header-empresa-parceira mb-5 py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">EMPRESA PARCEIRA DA ESCOLA </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Empresa Parceira</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Sobre o Programa</li>
            </ol>
        </nav>
    </div>
</div> 

<!-- Page Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase">Sobre o Programa</h6>
                <h5 class="mb-4">Enriqueça os recursos humanos do seu negócio, monitore políticas públicas, renove a base esportiva</h5>
                <p class="mb-4">O Programa de Benefícios do DNA DO BRASIL se estende com a inovadora iniciativa "Empresa Parceira da Escola", criada para promover o desenvolvimento de talentos e facilitar a integração entre empresas, instituições de ensino e o setor público. Esta iniciativa pioneira visa encaminhar talentos emergentes diretamente para o mercado de trabalho, enquanto atende às necessidades profissionais específicas das empresas cadastradas.</p>
                <h6 class="text-secondary text-uppercase">Como Funciona?</h6>
                <p class="mb-4">Após passar por avaliações criteriosas, os participantes recebem o Cartão DNA DO BRASIL, abrindo portas para um mundo de oportunidades e vantagens.</p>

                <h6 class="text-secondary text-uppercase">Quem Pode Fazer Parte?</h6>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Empresas de qualquer natureza ou porte: Melhore e desenvolva o potencial humano alinhado aos objetivos da sua empresa.</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Instituições e Gestões Governamentais: Contribua para a formulação, execução, e monitoramento de políticas públicas efetivas.</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Clubes, Associações e Federações: Junte-se a nós na descoberta e apoio de novos talentos esportivos.</p> 
                
                <p class="mb-4">Está pronto para fazer parte dessa iniciativa transformadora? O cadastro é simples e rápido!</p>
                
                <div class="bg-primary d-flex align-items-center mt-5">
                    <a href="" class="btn bg-white w-100" style="background-color: #ffffff4d !important;border-color:#1E60AA !important;border: solid;color:#fff;">Cadastre-se<i class="fa fa-arrow-right ms-2" style="color:#fff"></i></a>
                </div>

                <div class="bg-primary d-flex align-items-center p-4 mt-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt fa-2x text-primary"></i>
                    </div>
                    <div class="ms-3">
                        <p class="fs-5 fw-medium mb-2 text-white">Fale Conosco</p>
                        <h3 class="m-0 text-white">+55 61 3386-7087</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-4" style="min-height: 500px;">
                <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="position-absolute img-fluid w-100 h-100" src="~/assets/landing/img/about-1.jpg" style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
                    <img class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50" src="~/assets/landing/img/about-2.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->