@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="col-md-6 col-lg-12 col-xl-6">
    <div class="row">
		<form id="form" action="forms-validation.html" class="form-horizontal">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					</div>

					@* <h2 class="panel-title">Filtro de pesquisa</h2> *@
				</header>
				<div class="panel-body">
					<label class="col-sm-2 control-label">Periodo:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlPeriodo" id="ddlPeriodo"
                                title="periodoSelect" required
                                @* asp-for="CodPeriodo" asp-items="Model.ListPeriodo" *@>
                            <option value="">Selecionar Periodo</option>
                        </select>
                    </div>

					<label class="col-sm-2 control-label">Estado:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlEstado" id="ddlEstado"
                                title="estadoSelect" required
                                @* asp-for="CodEstado" asp-items="Model.ListEstado" *@>
                            <option value="">Selecionar Estado</option>
                        </select>
                    </div>

					<label class="col-sm-2 control-label">Cidade:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlCidade" id="ddlCidade"
                                title="cidadeSelect" required
                                @* asp-for="CodCidade" asp-items="Model.ListCidade" *@>
                            <option value="">Selecionar Cidade</option>
                        </select>
                    </div>

					<label class="col-sm-2 control-label">Localidade:</label>
                    <div class="col-md-4 form-group">
                        <select class="form-control populate select2" name="ddlLocalidade" id="ddlLocalidade"
                                title="localidadeSelect" required
                                @* asp-for="CodLocalidade" asp-items="Model.ListLocalidade" *@>
                            <option value="">Selecionar Localidade</option>
                        </select>
                    </div>

				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-md-9 col-md-offset-3">
							<button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-search"></i> &nbsp;&nbsp;Pesquisar</button>
						</div>
					</div>
				</footer>
			</section>
		</form>

        <div class="col-md-4 col-xl-12">
            <section class="panel">
				<div class="panel-body bg-primary" style="background-color: #673AB7 !important">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Avaliações DNA do Brasil</h4>
                                <div class="info">
                                    <strong class="amount">14666</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-xl-12">
            <section class="panel">
				<div class="panel-body bg-primary" style="background-color: #2196F3 !important">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Alunos Cadastrados</h4>
                                <div class="info">
                                    <strong class="amount">59945</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-xl-12">
            <section class="panel">
				<div class="panel-body bg-primary" style="background-color: #3F51B5 !important">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Cadastros masculino</h4>
                                <div class="info">
                                    <strong class="amount">30443</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-xl-12">
            <section class="panel">
				<div class="panel-body bg-primary" style="background-color: #E91E63 !important">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Cadastros feminino</h4>
                                <div class="info">
                                    <strong class="amount">29502</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-xl-12">
            <section class="panel">
				<div class="panel-body bg-primary" style="background-color: #4CAF50 !important">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-check-square"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Laudos Finalizados</h4>
                                <div class="info">
                                    <strong class="amount">81404</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-xl-12">
            <section class="panel">
				<div class="panel-body bg-primary" style="background-color: #F44336 !important">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-file-text"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Laudos em andamento</h4>
                                <div class="info">
                                    <strong class="amount">210272</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-xl-12">
            <section class="panel">
				<div class="panel-body bg-primary" style="background-color: #3F51B5 !important">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-user-circle"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
								<h4 class="title">Laudos Masculino</h4>
                                <div class="info">
                                    <strong class="amount">147736</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-xl-12">
            <section class="panel">
				<div class="panel-body bg-primary" style="background-color: #E91E63 !important">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-user-circle"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
								<h4 class="title">Laudos Feminino</h4>
                                <div class="info">
                                    <strong class="amount">143056</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
	@* <div class="row">
	<div class="col-md-12 col-lg-6 col-xl-6">
	</div>
	<div class="col-md-12 col-lg-6 col-xl-6">

	</div>
	</div> *@
</div>



<div class="row">
	<div class="col-lg-4 col-md-12">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
				</div>

				<h2 class="panel-title">Laudos</h2>
			</header>
			<div class="panel-body">
				<div id="container"></div>
			</div>
		</section>
	</div>
	<div class="col-lg-8 col-md-12">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
				</div>

				<h2 class="panel-title">Status Nacional</h2>
			</header>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped mb-none">
						<thead>
							<tr>
								<th>#</th>
								<th>Project</th>
								<th>Status</th>
								<th>Progress</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Porto - Responsive HTML5 Template</td>
								<td><span class="label label-success">Successo</span></td>
								<td>
									<div class="progress progress-sm progress-half-rounded m-none mt-xs light">
										<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
											100%
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Porto - Responsive Drupal 7 Theme</td>
								<td><span class="label label-success">Successo</span></td>
								<td>
									<div class="progress progress-sm progress-half-rounded m-none mt-xs light">
										<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
											100%
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Tucson - Responsive HTML5 Template</td>
								<td><span class="label label-warning">Alerta</span></td>
								<td>
									<div class="progress progress-sm progress-half-rounded m-none mt-xs light">
										<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
											60%
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Tucson - Responsive Business WordPress Theme</td>
								<td><span class="label label-success">Successo</span></td>
								<td>
									<div class="progress progress-sm progress-half-rounded m-none mt-xs light">
										<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
											90%
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Porto - Responsive Admin HTML5 Template</td>
								<td><span class="label label-warning">Alerta</span></td>
								<td>
									<div class="progress progress-sm progress-half-rounded m-none mt-xs light">
										<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
											45%
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Porto - Responsive HTML5 Template</td>
								<td><span class="label label-danger">Perigo</span></td>
								<td>
									<div class="progress progress-sm progress-half-rounded m-none mt-xs light">
										<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
											40%
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>7</td>
								<td>Porto - Responsive Drupal 7 Theme</td>
								<td><span class="label label-success">Successo</span></td>
								<td>
									<div class="progress progress-sm progress-half-rounded mt-xs light">
										<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
											95%
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
				</div>

				<h2 class="panel-title">Melhores esportes</h2>
				<p class="panel-subtitle">Customize the graphs as much as you want, there are so many options and features to display information using Porto Admin Template.</p>
			</header>
			<div class="panel-body">
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
				</div>

				<h2 class="panel-title">Melhores esportes</h2>
				<p class="panel-subtitle">Customize the graphs as much as you want, there are so many options and features to display information using Porto Admin Template.</p>
			</header>
			<div class="panel-body">
			</div>
		</section>
	</div>
</div>
@section Scripts {
	<script src="https://code.highcharts.com/highcharts.js"></script>

	<script>
		Highcharts.chart('container', {
			chart: {
				type: 'bar'
			},
			title: {
				text: undefined
			},
			xAxis: {
				categories: ['Hoje', 'Última semana', 'Último mês'],
				title: {
					text: null
				},
				gridLineWidth: 1,
				lineWidth: 0
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Population (millions)',
					align: 'high'
				},
				labels: {
					overflow: 'justify'
				},
				gridLineWidth: 0
			},
			tooltip: {
				valueSuffix: ' millions'
			},
			plotOptions: {
				bar: {
					borderRadius: '50%',
					dataLabels: {
						enabled: true
					},
					groupPadding: 0.1
				}
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'top',
				x: -40,
				y: 80,
				floating: true,
				borderWidth: 1,
				backgroundColor:
					Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
				shadow: true
			},
			credits: {
				enabled: false
			},
			series: [{
				name: 'Hoje',
				data: [631, 727, 3202]
			}, {
				name: 'Última semana',
				data: [814, 841, 3714]
			}, {
				name: 'Último mês',
				data: [1276, 1007, 4561]
			}]
		});

	</script>
}