@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<!--==================================================-->
<!-- start dreamhub-hero-section -->
<!--==================================================-->

<div class="hero-section" id="Home">
	<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
		<!-- Indicadores de slide -->
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
			<button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
		</div>

		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="carousel-background"></div>
				<div class="carousel-overlay"></div>

				<div class="container position-relative">
					<div class="row">
						<div class="col-lg-6 text-content-wrapper">
							<div class="hero-content">
								<h1 class="animate-title">
									Alcance seus sonhos com
									<span>DNA do Brasil</span>
								</h1>
								<p class="animate-text">
									Descubra seu talento esportivo,
									aptidão profissional, qualidade de
									vida e índice de saúde.
								</p>
								<div class="hero-button">
									<a class="ply-btn" href="#">
										<i class="fas fa-reply"></i>
										Saiba Mais
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="carousel-background"></div>
				<div class="carousel-overlay"></div>

				<div class="container position-relative">
					<div class="row">
						<div class="col-lg-6 text-content-wrapper">
							<div class="hero-content">
								<h1 class="animate-title">
									Descubra seu potencial com
									<span>DNA do Brasil</span>
								</h1>
								<p class="animate-text">
									Você está a um clique de ser o próximo
									talento do Brasil.
								</p>
								<div class="hero-button">
									<a class="ply-btn" href="#">
										<i class="fas fa-arrow-right"></i>
										Solicite seu cadastro
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="carousel-background"></div>
				<div class="carousel-overlay"></div>

				<div class="container position-relative">
					<div class="row">
						<div class="col-lg-6 text-content-wrapper">
							<div class="hero-content">
								<h1 class="animate-title">
									Seja um especialista
									<span>DNA do Brasil</span>
								</h1>
								<p class="animate-text">
									Transforme sua carreira e aumente sua renda.
								</p>
								<div class="hero-button">
									<a class="ply-btn" href="#">
										<i class="fas fa-reply"></i>
										Saiba Mais
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="carousel-background"></div>
				<div class="carousel-overlay"></div>

				<div class="container position-relative">
					<div class="row">
						<div class="col-lg-6 text-content-wrapper">
							<div class="hero-content">
								<h1 class="animate-title">
									Sempre parceira da
									<span>Escola</span>
								</h1>
								<p class="animate-text">
									Enriqueça os recursos humanos do seu negócio, monitore políticas públicas, renove a base esportiva.
								</p>
								<div class="hero-button">
									<a class="ply-btn" href="#">
										<i class="fas fa-arrow-right"></i>
										Cadastre-se
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="custom-carousel-controls">
			<button id="prevButton" class="btn" aria-label="Previous slide" data-bs-target="#heroCarousel" data-bs-slide="prev">
				<i class="fas fa-chevron-left"></i>
			</button>
			<button id="pausePlayButton" class="btn" aria-label="Pause/Play carousel">
				<i class="fas fa-pause"></i>
			</button>
			<button id="nextButton" class="btn" aria-label="Next slide" data-bs-target="#heroCarousel" data-bs-slide="next">
				<i class="fas fa-chevron-right"></i>
			</button>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- End dreamhub-hero-section -->
<!--==================================================-->
<!--==================================================-->
<!-- start dreamhub-feature-section -->
<!--==================================================-->

<div class="feature-section" id="Features">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="section-title wow fadeInLeft animated">
					<span class="number">01</span>
					<h5>15 anos de experiência</h5>
					<h3><span>O Programa</span></h3>
				</div>
				<div class="section-disc">
					<p>
						Para o <span>DNA do Brasil</span> todos temos um talento e
						direito a
						vida.
					</p>
				</div>
				<div class="sec-widget-element wow fadeInRight animated">
					<ul>
						<li>
							<span><i class="fas fa-check"></i></span>
							Colabore para um novo futuro por meio do Esporte e
							Educação.
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> Conheça seu
							Potencial
							esportivo, aptidão profissional, qualidade de vida e
							índice de saúde.
						</li>
						<li>
							<span><i class="fas fa-check"></i></span>
							Faça nossos cursos e torne-se um especialista DNA do
							Brasil.
						</li>
						<li>
							<span><i class="fas fa-check"></i></span>
							Enriqueça os recursos humanos, monitore políticas
							públicas, renove a
							base esportiva.
						</li>
					</ul>
				</div>
				<div class="section-button wow fadeInUp animated">
					<a href="#">
						Saiba Mais
						<span><i class="far fa-laugh"></i></span>
					</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="feature-single-box wow fadeInLeft animated">
							<div class="feature-icon">
								<span><i class="fas fa-handshake"></i></span>
							</div>
							<div class="feature-box-title">
								<h2><a>Colaboração e novo futuro</a></h2>
							</div>
							<div class="feature-box-disc">
								<p>
									Construa o futuro do esporte
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="feature-single-box wow fadeInLeft animated">
							<div class="feature-icon">
								<span><i class="fas fa-star"></i></span>
							</div>
							<div class="feature-box-title">
								<h2>
									<a>Conhecer seu potencial</a>
								</h2>
							</div>
							<div class="feature-box-disc">
								<p>
									Descubra suas habilidades únicas
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="feature-single-box wow fadeInUp animated">
							<div class="feature-icon">
								<span>
									<i class="fas fa-graduation-cap"></i>
								</span>
							</div>
							<div class="feature-box-title">
								<h2><a>Cursos e especialização</a></h2>
							</div>
							<div class="feature-box-disc">
								<p>
									Aprimore-se com especialistas
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="feature-single-box wow fadeInDown animated">
							<div class="feature-icon">
								<span>
									<i class="fas fa-tachometer-alt"></i>
								</span>
							</div>
							<div class="feature-box-title">
								<h2><a> Enriquecimento e monitoramento</a></h2>
							</div>
							<div class="feature-box-disc">
								<p>
									Acompanhe seu progresso regularmente
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- End dreamhub-feature-section -->
<!--==================================================-->
<!--==================================================-->
<!-- start dreamhub-about-section -->
<!--==================================================-->

<div class="about-section" id="About">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-thumb wow fadeInUp animated">
					<img src="~/assets/assets_LP/images/new-resource/cell-1.png" alt />
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-title wow fadeInRight animated">
					<span class="number">02</span>
					<h5>Sobre o nosso App</h5>
					<h3>
						Conheça o <span>App DNA do Brasil</span>
					</h3>
				</div>
				<div class="about-disc wow fadeInLeft animated">
					<p>
						São mais de 40 indicadores e coeficientes de desempenho que permitirão um desenvolvimento em contextos esportivos específicos e também em sua vida!
					</p>
				</div>
				<div class="about-disc2 wow fadeInLeft animated">
					<p>
						Com uma interface intuitiva e ferramentas avançadas, o App DNA do Brasil oferece análises personalizadas que ajudam você a identificar seus pontos fortes e áreas de melhoria. Seja no esporte, no trabalho ou na vida pessoal, nosso objetivo é potencializar o seu desempenho com dados claros e precisos.
					</p>
				</div>
				<div class="about-button wow fadeInDown animated">
					<div class="card-score" data-wow-delay="0.2s">
						<div class="circular-progress"
							 style="
								--progress: 90;
								--color-main: #e96c52;
								--color-second: #fce3de;
								">
							<div class="circular-progress-inner">
								<div class="circular-progress-value">90</div>
							</div>
						</div>
					</div>
					<div class="card-score" data-wow-delay="0.4s">
						<div class="circular-progress"
							 style="
								--progress: 60;
								--color-main: #efad57;
								--color-second: #ffeed9;
								">
							<div class="circular-progress-inner">
								<div class="circular-progress-value">60</div>
							</div>
						</div>
					</div>
					<div class="card-score" data-wow-delay="0.6s">
						<div class="circular-progress"
							 style="
								--progress: 75;
								--color-main: #23bfff;
								--color-second: #c8eeff;
								">
							<div class="circular-progress-inner">
								<div class="circular-progress-value">75</div>
							</div>
						</div>
					</div>
					<div class="card-score" data-wow-delay="0.8s">
						<div class="circular-progress"
							 style="
								--progress: 30;
								--color-main: #5b5c9c;
								--color-second: #d5d6e7;
								">
							<div class="circular-progress-inner">
								<div class="circular-progress-value">30</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- End dreamhub-about-section -->
<!--==================================================-->
<!--==================================================-->
<!-- start dreamhub-work-section -->
<!--==================================================-->

<div class="work-section">
	<div class="container">
		<div class="section-header wow fadeInUp animated">
			<h5>Download passo a passo</h5>
			<h3>App <span>DNA do Brasil</span></h3>
			<p>
				Siga os passos abaixo, transforme a realidade por meio do esporte e
				educação e aumente sua renda.
			</p>
		</div>

		<div class="work-grid">
			<div class="work-item wow fadeInLeft animated">
				<div class="work-icon">
					<i class="fas fa-download"></i>
				</div>
				<div class="work-content">
					<h5><a href="#">01 - Instale o App</a></h5>
					<p>Acesse a App Store ou a Google Play e baixe o App no seu smartphone.</p>
				</div>
			</div>

			<div class="work-item wow fadeInRight animated">
				<div class="work-icon">
					<i class="fas fa-user-plus"></i>
				</div>
				<div class="work-content">
					<h5><a href="#">02 - Cadastre-se</a></h5>
					<p>Por meio do seu smartphone, cadastre seus dados pessoais e de pagamento, e tenha acesso a todos os recursos.</p>
				</div>
			</div>

			<div class="work-item wow fadeInLeft animated">
				<div class="work-icon">
					<i class="fas fa-heartbeat"></i>
				</div>
				<div class="work-content">
					<h5><a href="#">03 - Avalie sua qualidade de vida</a></h5>
					<p>Realize antes as avaliações de auto preenchimento, em seguida procure um especialista próximo de você.</p>
				</div>
			</div>

			<div class="work-item wow fadeInRight animated">
				<div class="work-icon">
					<i class="fas fa-user-md"></i>
				</div>
				<div class="work-content">
					<h5><a href="#">04 - Procure um especialista</a></h5>
					<p>Acesse o menu "Buscar Especialista" que o App mostrará o profissional mais próximo.</p>
				</div>
			</div>

			<div class="work-item wow fadeInLeft animated">
				<div class="work-icon">
					<i class="fas fa-dumbbell"></i>
				</div>
				<div class="work-content">
					<h5><a href="#">05 - Avalie sua condição física</a></h5>
					<p>Dirija-se ao profissional especialista ou receba-o em local apropriado para realização dos testes da avaliação físico-motora.</p>
				</div>
			</div>

			<div class="work-item wow fadeInRight animated">
				<div class="work-icon">
					<i class="fas fa-file-medical"></i>
				</div>
				<div class="work-content">
					<h5><a href="#">06 - Receba o Laudo Completo</a></h5>
					<p>Após realizar sua avaliação, o sistema emitirá um laudo completo em seu App.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- End dreamhub-work-section -->
<!--==================================================-->
<!--==================================================-->
<!-- start dreamhub-about2-section -->
<!--==================================================-->

<div class="about-two-section">
	<div class="container">
		<div class="row cntr-bg-up">
			<div class="col-lg-6">
				<div class="about-two-content wow fadeInLeft animated">
					<h5>App DNA do Brasil</h5>
					<h2>
						Baixe nosso aplicativo na loja de aplicativos de seu smartphone.
					</h2>
					<p>
						Baixe e descubra como mais de 40 indicadores podem transformar seu desempenho. Explore áreas como talento esportivo, saúde, qualidade de vida, meio ambiente e muito mais.
					</p>
				</div>
				<div class="about-two-button wow fadeInRight animated">
					<a class="about-ply-btn" href="#">
						<img src="~/assets/assets_LP/images/resource/play-btn.png" alt style="margin-bottom: 1rem;" />
					</a>
					<a href="#"><img src="~/assets/assets_LP/images/resource/store-btn.png" alt style="margin-bottom: 1rem;" /></a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-two-thumb wow fadeInRight animated">
					<img src="~/assets/assets_LP/images/new-resource/cell-img.png" alt />
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- End dreamhub-about2-section -->
<!--==================================================-->
<!--==================================================-->
<!-- start dreamhub-testimpnial-section -->
<!--==================================================-->

<div class="testimonial-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="testimonial-title wow fadeInRight animated">
					<h5>Capturas de tela</h5>
					<h2>Explore o nosso <span>App</span></h2>
					<p>
						São mais de 40 indicadores e coeficientes de desempenho que permitirão um desenvolvimento em contextos esportivos específicos e também em sua vida!
					</p>
				</div>
			</div>
		</div>
		<div class="row screenshot">
			<div class="testimonial owl-carousel">
				<div class="col-lg-12">
					<div class="testimonial-thumb">
						<img src="~/assets/assets_LP/images/phone/iphone_1.png" alt />
					</div>
				</div>
				<div class="col-lg-12">
					<div class="testimonial-thumb">
						<img src="~/assets/assets_LP/images/phone/iphone_2.png" alt />
					</div>
				</div>
				<div class="col-lg-12">
					<div class="testimonial-thumb">
						<img src="~/assets/assets_LP/images/phone/iphone_3.png" alt />
					</div>
				</div>
				<div class="col-lg-12">
					<div class="testimonial-thumb">
						<img src="~/assets/assets_LP/images/phone/iphone_4.png" alt />
					</div>
				</div>
				<div class="col-lg-12">
					<div class="testimonial-thumb">
						<img src="~/assets/assets_LP/images/phone/iphone_5.png" alt />
					</div>
				</div>
				<div class="col-lg-12">
					<div class="testimonial-thumb">
						<img src="~/assets/assets_LP/images/phone/iphone_6.png" alt />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- start dreamhub-testimonial-section -->
<!--==================================================-->
<div class="feature-section" id="Pricing">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="section-title wow fadeInLeft animated">
					<span class="number">02</span>
					<h5>Profissionais</h5>
					<h3>
						<span>Aumente sua renda</span> e ajude o Brasil a detectar
						talentos
					</h3>
				</div>
				<div class="section-disc">
					<p>
						Seja um especialista em detecção de talentos. Faça nossa
						pós-graduação e
						seja um profissional capacitado para trabalhar em qualquer
						contexto de
						prática esportiva tanto com crianças como adolescentes. Ajude a
						fazer um
						Brasil melhor, e ao mesmo tempo aumente sua renda!
					</p>
				</div>
				<div class="section-button wow fadeInUp animated">
					<a href="#">
						Saiba Mais
						<span><i class="far fa-laugh"></i></span>
					</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<img src="~/assets/assets_LP/images/new-resource/prof.jpg" alt>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- start professionals-section -->
<!--==================================================-->
<section class="reviews-section py-5" id="Reviews">
	<div class="container">
		<!-- Section Header -->
		<div class="row mb-5">
			<div class="col-12">
				<div class="reviews-title text-center">
					<h5 class="text-gradient">Conheça nossos profissionais</h5>
					<h2><span>Profissionais</span> totalmente capacitados</h2>
					<p class="mx-auto" style="max-width: 800px;">
						Todos os nossos profissionais são habilitados a realizar uma avaliação completa, buscando resultados e dados precisos.
					</p>
				</div>
			</div>
		</div>

		<!-- Professionals Cards -->
		<div class="row">
			<div class="col-12">
				<div id="professionalsCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-touch="true">
					<div class="carousel-inner">
						<!-- Professional 1 -->
						<div class="carousel-item active">
							<div class="reviews-single-box h-100">
								<div class="reviews-thumb align-items-center">
									<img src="~/assets/assets_LP/images/resource/testimonial1.jpg" alt="Carlos Silveira" class="professional-img" width="80" height="80">
									<div class="reviews-sub-title">
										<h4 class="mb-1">Carlos Silveira</h4>
										<h5>Professor de Educação Física</h5>
									</div>
								</div>
								<div class="reviews-disc">
									<p>Responsável por detectar talentos em escolas participantes do programa.</p>
								</div>
								<div class="reviews-rating">
									<ul class="mb-0">
										<li><span><i class="fas fa-star active"></i></span></li>
										<li><span><i class="fas fa-star active"></i></span></li>
										<li><span><i class="fas fa-star active"></i></span></li>
										<li><span><i class="fas fa-star"></i></span></li>
										<li><span><i class="fas fa-star"></i></span></li>
									</ul>
								</div>
							</div>
						</div>

						<!-- Professional 2 -->
						<div class="carousel-item">
							<div class="reviews-single-box h-100">
								<div class="reviews-thumb align-items-center">
									<img src="~/assets/assets_LP/images/resource/testimonial2.jpg" alt="Débora Willis" class="professional-img" width="80" height="80">
									<div class="reviews-sub-title">
										<h4 class="mb-1">Débora Willis</h4>
										<h5>Psicóloga</h5>
									</div>
								</div>
								<div class="reviews-disc">
									<p>Responsável por avaliar a saúde mental dos participantes do programa.</p>
								</div>
								<div class="reviews-rating">
									<ul class="mb-0">
										<li><span><i class="fas fa-star active"></i></span></li>
										<li><span><i class="fas fa-star active"></i></span></li>
										<li><span><i class="fas fa-star active"></i></span></li>
										<li><span><i class="fas fa-star"></i></span></li>
										<li><span><i class="fas fa-star"></i></span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<!--==================================================-->
<!-- end dreamhub-reviews-section -->
<!--==================================================-->
<!--==================================================-->
<!-- start Dreamhub-counter Section  -->
<!--==================================================-->

<div class="counter-area">
	<div class="container">
		<div class="row cntr-bg-up1">
			<div class="col-lg-3 col-md-6">
				<div class="single-counter-box">
					<div class="counter-icon">
						<span><i class="fas fa-file-medical-alt"></i></span>
					</div>
					<div class="counter-title">
						<h1 class="counter">3</h1>
						<h1>mil</h1>
					</div>
					<div class="counter-text">
						<p>Laudos Emitidos</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-counter-box">
					<div class="counter-icon">
						<span><i class="fas fa-users"></i></span>
					</div>
					<div class="counter-title">
						<h1 class="counter">5</h1>
						<h1>mil</h1>
					</div>
					<div class="counter-text">
						<p>Alunos Matriculados</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-counter-box upper">
					<div class="counter-icon">
						<span><i class="fas fa-graduation-cap"></i></span>
					</div>
					<div class="counter-title">
						<h1 class="counter">100</h1>
					</div>
					<div class="counter-text">
						<p>Cursos</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-counter-box upper">
					<div class="counter-icon">
						<span><i class="fas fa-user-md"></i></span>
					</div>
					<div class="counter-title">
						<h1 class="counter">45</h1>
					</div>
					<div class="counter-text">
						<p>Profissionais Cadastrados</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- End Dreamhub-counter Section  -->
<!--==================================================-->
<!--==================================================-->
<!-- start Dreamhub-contact Section  -->
<!--==================================================-->

<div class="contact-section" id="Contato">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="contact-thumb wow fadeInLeft animated">
					<img src="~/assets/assets_LP/images/new-resource/phone-3.png" alt />
				</div>
			</div>
			<div class="col-lg-6">
				<div class="contact-content wow fadeInRight animated">
					<span class="number">03</span>
					<h5>Fale conosco</h5>
					<h3>
						Entre em <span>Contato</span>
					</h3>
				</div>
				<div class="single-contact-box wow fadeInUp animated">
					<form action method="POST" id="dreamit-form">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-box">
									<input type="text" name="name"
										   placeholder="Seu Nome" />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-box">
									<input type="text" name="email"
										   placeholder="Seu Email" />
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-box">
									<select name="subject" class="form-select">
										<option value="" disabled selected>Selecione seu perfil</option>
										<option value="aluno">Aluno</option>
										<option value="professor">Professor</option>
										<option value="parceiro">Parceiro</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-box">
									<textarea name="#" id="#" cols="30"
											  rows="5"
											  placeholder="Escreva aqui a sua solicitação"></textarea>
								</div>
							</div>
							<div class="form-button wow fadeInRight animated">
								<button type="submit" name="btn">
									Enviar Solicitação
								</button>
							</div>
						</div>
					</form>
					<div id="status"></div>
				</div>
			</div>
		</div>
		<hr class="style-2" />
	</div>
</div>

<!--==================================================-->
<!-- End Dreamhub-contact Section  -->
<!--==================================================-->