@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/assets/landing/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, -0.9);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Dna do Brasil</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Alcance seus sonhos</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                Descubra seu talento esportivo, aptidão profissional, qualidade de vida e índice de saúde
                            </p>
                            <a href="" class="btn py-md-3 px-md-5 me-3 animated slideInLeft" style="    background-color: #ffffff4d;border-color:#fff !important;border: solid;color:#fff;">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/assets/landing/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, -0.9);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Talento Esportivo</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Descubra seu potencial</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Você está a um clique de ser o próximo talento do Brasil.</p>
                            <a href="" class="btn py-md-3 px-md-5 me-3 animated slideInLeft" style="    background-color: #ffffff4d;border-color:#fff !important;border: solid;color:#fff;">Saiba Mais</a>
                            <a href="" class="btn py-md-3 px-md-5 me-3 animated slideInLeft" style="    background-color: #ffffff4d;border-color:#fff !important;border: solid;color:#fff;">Solicite seu Cadastro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/assets/landing/img/carousel-3.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, -0.9);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Especialista Dna </h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Seja um especialista DNA do Brasil</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">E aumente sua renda.</p>
                            <a href="" class="btn py-md-3 px-md-5 me-3 animated slideInLeft" style="    background-color: #ffffff4d;border-color:#fff !important;border: solid;color:#fff;">Saiba Mais</a>
                            <a href="" class="btn py-md-3 px-md-5 me-3 animated slideInLeft" style="    background-color: #ffffff4d;border-color:#fff !important;border: solid;color:#fff;">Cadastre-se</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/assets/landing/img/carousel-4.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, -0.9);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Parceiro Dna </h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">SEMPRESA PARCEIRA DA ESCOLA</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Enriqueça os recursos humanos do seu negócio, monitore políticas públicas, renove a base esportiva</p>

                            <a href="" class="btn py-md-3 px-md-5 me-3 animated slideInLeft" style="    background-color: #ffffff4d;border-color:#fff !important;border: solid;color:#fff;">Cadastre-se</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-fluid py-5 px-4 px-lg-0" id="oprograma">
    <div class="row g-0">
        <div class="col-lg-3 d-none d-lg-flex">
            <div class="d-flex align-items-center justify-content-center bg-primary w-100 h-100">
                <h1 class="display-3 text-white m-0" style="transform: rotate(-90deg);">15 Anos de Experiência</h1>
            </div>
        </div>
        <div class="col-md-12 col-lg-9">
            <div class="ms-lg-5 ps-lg-5">
                <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Sobre o Programa</h6>
                    <h1 class="mb-5">Para o DNA do Brasil todos temos um talento e direito a vida.</h1>
                </div>
                <div class="owl-carousel service-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">

                    <div class="p-4" style="background-image: url('assets/landing/img/block1-bg@2x.jpg');background-size: 146%;background-repeat: no-repeat; color:#fff;border-radius: 5px; font-weight:bold;">
                        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                            <i class="fa fa-solid fa-medal fa-2x"></i>
                        </div>
                        <h4 class="mb-3" style="color:#fff">Conheça seu Potencial!</h4>
                        <p>Descubra seu talento esportivo, aptidão profissional, qualidade de vida e índice de saúde.</p>
                        <p class="text-primary fw-medium" style="color:#fff !important"><i class="fa fa-check me-2"></i>Jovem Atleta</p>
                        <p class="text-primary fw-medium">&nbsp;</p>
                        <p class="text-primary fw-medium">&nbsp;</p>
                        <p class="text-primary fw-medium">&nbsp;</p>
                        <a href="" class="btn bg-white w-100 mt-2" style="background-color: #ffffff4d !important;border-color:#fff !important;border: solid;color:#fff;">Saiba Mais<i class="fa fa-arrow-right ms-2" style="color:#fff"></i></a>
                    </div>
                    <div class="p-4" style="background-image: url('assets/landing/img/dna-block1_pro@2x.jpg');background-size: 146%;background-repeat: no-repeat; color:#fff;border-radius: 5px; font-weight:bold;">
                        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                            <i class="fa fa-solid fa-user-graduate fa-2x"></i>
                        </div>
                        <h4 class="mb-3" style="color:#fff">Faça nossos cursos e torne-se um especialista DNA do Brasil!</h4>
                        <p>Esteja pronto para detectar e assessorar nossos jovens, ter autonomia em seu trabalho e complementar sua renda.</p>
                        <p class="text-primary fw-medium" style="color:#fff !important"><i class="fa fa-check me-2"></i>Especialista DNA</p>
                        <p class="text-primary fw-medium">&nbsp;</p>
                        <a href="" class="btn bg-white w-100 mt-2" style="background-color: #ffffff4d !important;border-color:#fff !important;border: solid;color:#fff;">Saiba Mais<i class="fa fa-arrow-right ms-2" style="color:#fff"></i></a>
                    </div>
                    <div class="p-4" style="background-image: url('assets/landing/img/dna-block1_cp@2x.jpg');background-size: 146%;background-repeat: no-repeat; color:#fff;border-radius: 5px; font-weight:bold;">
                        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                            <i class="fa fa-solid fa-thumbs-up fa-2x"></i>
                        </div>
                        <h4 class="mb-3" style="color:#fff">Colabore para um novo futuro por meio do Esporte e Educação!</h4>
                        <p>Enriqueça os recursos humanos do seu negócio, monitore políticas públicas, renove a base esportiva.</p>
                        <p class="text-primary fw-medium" style="color:#fff !important"><i class="fa fa-check me-2"></i>Instituições Parceiras</p>
                        <p class="text-primary fw-medium">&nbsp;</p>
                        <p class="text-primary fw-medium">&nbsp;</p>
                        <a href="@Url.Action("EmpresaParceira", "Home")" class="btn bg-white w-100 mt-2" style="background-color: #ffffff4d !important;border-color:#fff !important;border: solid;color:#fff;">Saiba Mais<i class="fa fa-arrow-right ms-2" style="color:#fff"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Service Start -->
<div class="container-xxl py-5" id="passoapasso">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Download passo a passo</h6>
            <h1 class="mb-5">Siga os passos abaixo, transforme a realidade por meio do esporte e educação e aumente sua renda.</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="~/assets/landing/img/passo1.png" alt="">
                </div>
                <div class="d-flex align-items-center justify-content-between bg-light p-4">
                    <h5 class="text-truncate me-3 mb-0">Passo 1 e Passo 2</h5>
                    <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="~/assets/landing/img/passo34.png" alt="">
                </div>
                <div class="d-flex align-items-center justify-content-between bg-light p-4">
                    <h5 class="text-truncate me-3 mb-0">Passo 3 e Passo 4</h5>
                    <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="~/assets/landing/img/passo56.png" alt="">
                </div>
                <div class="d-flex align-items-center justify-content-between bg-light p-4">
                    <h5 class="text-truncate me-3 mb-0">Passo 5 e Passo 6</h5>
                    <a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5" id="sobreapp">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase">Sobre o App</h6>
                <h1 class="mb-4">Conheça o App DNA do Brasil</h1>
                <p class="mb-4">São mais de 40 indicadores e coeficientes de desempenho que permitirão um desenvolvimento em contextos esportivos específicos e também em sua vida!</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Talento Esportivo</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Qualidade de Vida</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Meio Ambiente</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Saúde</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Talento Vocacional</p>
                <div class=" d-flex align-items-center p-4 mt-5">
                    <div class="ms-3">
                        <img src="~/assets/landing/img/loadings.png" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-4" style="min-height: 500px;">
                <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="position-absolute img-fluid w-100 h-100" src="~/assets/landing/img/about-1.png" style="object-fit: cover; padding: 0 0 39px 19 px;" alt="">
                    <img class="position-absolute start-0 bottom-0 img-fluid pt-2 pe-2 w-50 h-50" src="~/assets/landing/img/about-2.png" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-fluid py-5 px-4 px-lg-0">
    <div class="row g-0">

        <div class="col-md-12 col-lg-12">
            <div class="ms-lg-5 ps-lg-5">
                <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Conheça o App</h6>
                    <h1 class="mb-5">Explore o Aplicativo</h1>
                </div>
                <div class="owl-carousel service-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
                    <div class="p-4">
                        <img src="~/assets/landing/img/iphone_dashboard.png" />
                    </div>
                    <div class="p-4">
                        <img src="~/assets/landing/img/iphone_avalia.png" />
                    </div>
                    <div class="p-4">
                        <img src="~/assets/landing/img/iphone_laudo.png" />
                    </div>
                    <div class="p-4">
                        <img src="~/assets/landing/img/iphone_busca.png" />
                    </div>
                    <div class="p-4">
                        <img src="~/assets/landing/img/iphone_rede.png" />
                    </div>
                    <div class="p-4">
                        <img src="~/assets/landing/img/iphone_carteirinha.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5" id="profissionais">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase">Profissionais</h6>
                <h1 class="mb-4">Aumente sua renda e ajude o Brasil a detectar talentos</h1>
                <p class="mb-4">
                    Seja um especialista em detecção de talentos. Faça nossa pós-graduação e seja um profissional capacitado
                    para trabalhar em qualquer contexto de prática esportiva tanto com crianças como adolescentes. Ajude a fazer um Brasil melhor, e ao mesmo tempo aumente sua renda!
                </p>
                @* <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Residential & commercial plumbing</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Quality services at affordable prices</p>
                <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Immediate 24/ 7 emergency services</p> *@
                <div class="bg-primary d-flex align-items-center p-4 mt-5">
                    <a href="" class="btn bg-white w-100 mt-2" style="background-color: #ffffff4d !important;border-color:#fff !important;border: solid;color:#fff;">Saiba Mais<i class="fa fa-arrow-right ms-2" style="color:#fff"></i></a>
                </div>
            </div>
            <div class="col-lg-6 pt-4" style="min-height: 500px;">
                <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="position-absolute img-fluid w-100 h-100" src="~/assets/landing/img/prof@2x.jpg" style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
                    @* <img class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50" src="img/about-2.jpg" style="object-fit: cover;" alt=""> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Booking Start -->
<div class="container-fluid my-5 px-0" id="depoimentos">
    <div class="video wow fadeInUp" data-wow-delay="0.1s">
        <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
            <span></span>
        </button>

        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                    allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-white mb-4">Olimpíadas do conhecimento</h1>
        <h3 class="text-white mb-0">Dna do Brasil</h3>
    </div>
    <div class="container position-relative wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -6rem;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="bg-light text-center p-5">
                    <h1 class="mb-4">Entre em Contato</h1>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Seu Nome" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" placeholder="Seu Email" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select border-0" style="height: 55px;">
                                    <option selected>Selecione seu Perfil</option>
                                    <option value="1">Aluno</option>
                                    <option value="2">Professor</option>
                                    <option value="3">Parceiro</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" placeholder="Escreva aqui sua solicitação"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
