@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Redefinir confirmação de senha";
    Layout = "_LayoutLogin";
}

<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo float-left" style="margin-top: 15px;">
            <img src="~/img/logo.png" height="44"  />
        </a>

        <div class="panel card-sign">
            <div class="card-title-sign mt-3 text-right">
                <h2 class="title text-uppercase font-weight-bold m-0">
                    <i class="fa fa-user mr-1"></i>
                    Redefinir confirmação de senha
                </h2>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    <p class="m-0">Senha alterada com sucesso. Por favor <a asp-page="./Login">Clique aqui para efetuar login</a>.</p>
                </div>

            </div>

        </div>

        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2020. Todos os direitos reservados.</p>
    </div>
</section>