@{
    ViewData["Title"] = "Inclusão de Tipos de Laudo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-12">
        @using (@Html.BeginForm("Create", "TiposLaudo", FormMethod.Post, new { id = "formTipoLaudo", @class = "form-horizontal" }))
	{
		<section class="panel">
			<header class="panel-heading">
				<div class="panel-actions">
					<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
				</div>

				<h2 class="panel-title">Cadastro de Tipos de Laudo</h2>
			</header>
			<div class="panel-body">

				<div class="form-group row">
					<label class="col-sm-3 control-label text-sm-right pt-2">Nome <span class="required">*</span></label>
					<div class="col-sm-9">
						<input type="text" name="nome" class="form-control"
						       maxlength="50"
						       title="Por favor informe o nome." required/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 control-label text-sm-right pt-2">Descrição <span class="required">*</span></label>
					<div class="col-sm-9">
						<input type="text" name="descricao" class="form-control"
						       maxlength="150"
						       title="Por favor informe a descrição." required/>
					</div>
				</div>
			</div>
			<footer class="panel-footer">
				<div class="row">
					<div class="col-md-9 col-md-offset-3">
                        <a href="@Url.Action("Index", "TiposLaudo")" class="btn btn-dark pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-reply"></i> &nbsp;&nbsp;Voltar</a>
                        <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                        <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
					</div>
				</div>
			</footer>
		</section>
	}
	</div>
</div>



@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
	<link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
}
@section Scripts {
	<script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
	<script src="~/assets/vendor/select2/js/select2.js"></script>
	<script src="~/assets/vendor/jquery-mask/jquery.mask.js"></script>
	<script src="~/js/tipo-laudo.js"></script>
    <script>

        (function ($) {

            'use strict';

            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'Tipos de Laudo',
                    text: messagem,
                    type: 'success'
                });
            } else if (notify === 1) {
                new PNotify({
                    title: 'Tipos de Laudo',
                    text: messagem,
                    type: 'warning'
                });
            } else if (notify === 2) {
                new PNotify({
                    title: 'Tipos de Laudo',
                    text: messagem,
                    type: 'error'
                });
            }

        }).apply(this, [jQuery]);

    </script>
}