@model DashboardModel
@{
    ViewData["Title"] = "Dashboard EAD";
}
<div id="vDashboard">
    @* <div class="col-md-6 col-lg-12 col-xl-6">
        <div class="row">
            <form id="formDashboard" class="form-horizontal">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        </div>
                        <h2 class="panel-title">Filtro de pesquisa</h2>
                    </header>
                    <div class="panel-body" id="pFiltro">
                        
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-2 pull-right">
                                <button type="button" class="btn btn-block btn-primary pull-right" v-on:click="GetPesquisaDashboard()">
                                    <i class="fa fa-search"></i> &nbsp;&nbsp;Pesquisar
                                </button>
                            </div>
                        </div>
                    </footer>
                </section>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>

                    <h2 class="panel-title">Indicadores</h2>
                </header>
                <div class="panel-body" id="pIndicadores">

                </div>
            </section>
        </div>
    </div> *@
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
}
@section Scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/variable-pie.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/select2/js/select2.js"></script>
}