@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos da Carteirinha */
#frente.tab-pane,
#verso.tab-pane,
.page {
    min-height: 460px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Se der ruim trocar esse cover */
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #1a237e;
    overflow: hidden;
    flex-shrink: 0;
}

#frente.tab-pane,
.frente-page {
    background-image: url(/assets/images/Carteirinha-Frente-Fast.jpg);
}

#verso.tab-pane,
.verso-page {
    background-image: url(/assets/images/Carteirinha-Verso-Fast.jpg);
}

/* Frente da Carteirinha */
.student-info {
    position: absolute;
    left: 30px;
    top: 120px;
    width: 540px;
}

.info-row {
    margin-bottom: 0.5cm;
    display: flex;
    flex-wrap: wrap;
}

    .info-row label {
        display: block;
        font-weight: 700;
        font-size: 18px;
        min-width: 220px;
        color: #1a237e;
        font-family: 'Montserrat', sans-serif;
        margin-right: 10px;
        flex-shrink: 0;
    }

    .info-row span {
        display: block;
        font-size: 18px;
        flex: 1;
        word-wrap: break-word;
        color: #1a237e;
        font-family: 'Montserrat', sans-serif;
    }

.activity-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #1a237e;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    max-width: 540px;
}

.photo-container {
    position: absolute;
    right: 92.3px;
    width: 140px;
    height: 210px;
    overflow: hidden;
    top: 31px;
}

.student-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.qr-code-container {
    position: absolute;
    right: 92.3px;
    bottom: 40px;
    width: 140px;
    height: 140px;
}

.qr-code {
    width: 100%;
    height: 100%;
}

/* Verso da Carteirinha */
.main-content-verso {
    position: absolute;
    left: 30px;
    top: 200px;
    width: 500px;
}

.info-row-verso {
    margin-bottom: 0.5cm;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    .info-row-verso label {
        display: block;
        font-weight: 700;
        font-size: 18px;
        min-width: 220px;
        color: #1a237e;
        font-family: 'Montserrat', sans-serif;
        margin-right: 10px;
        flex-shrink: 0;
    }

    .info-row-verso span {
        display: block;
        font-size: 18px;
        flex: 1;
        word-wrap: break-word;
        color: #1a237e;
        font-family: 'Montserrat', sans-serif;
    }


@media screen and (max-width: 992px) {
    .modal-body {
        overflow-x: auto;
    }

    .row {
        min-width: 992px;
        position: relative;
    }

    #frente.tab-pane, #verso.tab-pane, .page {
        min-height: 540px;
    }
        .photo-container, .qr-code-container {
        position: absolute;
        right: 120px;
    }

    .photo-container {
        top: 50px;
    }

    .qr-code-container {
        bottom: 40px;
    }

    .student-info {
        top: 140px;
    }
}